name: Build and Release

on:
    push:
        tags:
            - "v*"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK
              uses: actions/setup-java@v4
              with:
                  distribution: temurin
                  java-version: "21"

            - name: Cache Gradle
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

            - name: Make gradlew executable
              run: chmod +x gradlew

            - name: Build (assemble)
              run: ./gradlew clean assemble --no-daemon

            - name: Create GitHub Release
              id: create_release
              uses: softprops/action-gh-release@v1
              with:
                  tag_name: ${{ github.ref_name }}
              env:
                  GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

            - name: Upload release artifacts
              uses: softprops/action-gh-release@v1
              with:
                  files: build/libs/*.jar
              env:
                  GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
